// Bootstrap Functions
@import "../bootstrap/functions";

// Theme colors
@import "../theme-colors";

// User variables
@import '../user-variables';

// Color
$primary: $green;

// Theme variables
@import "../variables";

// Color styles
@import "../theme/colors";