# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
core/settings/dev.py
core/settings/prod.py
package-lock.json
package.json
node_modules/.bin/cssesc
node_modules/.bin/cssesc.cmd
node_modules/.bin/cssesc.ps1
node_modules/.bin/nanoid
node_modules/.bin/nanoid.cmd
node_modules/.bin/nanoid.ps1
node_modules/.bin/purgecss
node_modules/.bin/purgecss.cmd
node_modules/.bin/purgecss.ps1
node_modules/balanced-match/index.js
node_modules/balanced-match/LICENSE.md
node_modules/balanced-match/README.md
node_modules/balanced-match/.github/FUNDING.yml
node_modules/brace-expansion/index.js
node_modules/brace-expansion/LICENSE
node_modules/brace-expansion/README.md
node_modules/commander/esm.mjs
node_modules/commander/index.js
node_modules/commander/LICENSE
node_modules/commander/package-support.json
node_modules/commander/Readme.md
node_modules/commander/typings/index.d.ts
node_modules/concat-map/.travis.yml
node_modules/concat-map/index.js
node_modules/concat-map/LICENSE
node_modules/concat-map/README.markdown
node_modules/concat-map/example/map.js
node_modules/concat-map/test/map.js
node_modules/cssesc/cssesc.js
node_modules/cssesc/LICENSE-MIT.txt
node_modules/cssesc/README.md
node_modules/cssesc/bin/cssesc
node_modules/cssesc/man/cssesc.1
node_modules/fs.realpath/index.js
node_modules/fs.realpath/LICENSE
node_modules/fs.realpath/old.js
node_modules/fs.realpath/README.md
node_modules/glob/common.js
node_modules/glob/glob.js
node_modules/glob/LICENSE
node_modules/glob/README.md
node_modules/glob/sync.js
node_modules/inflight/inflight.js
node_modules/inflight/LICENSE
node_modules/inflight/README.md
node_modules/inherits/inherits_browser.js
node_modules/inherits/inherits.js
node_modules/inherits/LICENSE
node_modules/inherits/README.md
node_modules/minimatch/LICENSE
node_modules/minimatch/minimatch.js
node_modules/minimatch/README.md
node_modules/nanoid/index.browser.cjs
node_modules/nanoid/index.browser.js
node_modules/nanoid/index.cjs
node_modules/nanoid/index.d.ts
node_modules/nanoid/index.js
node_modules/nanoid/LICENSE
node_modules/nanoid/nanoid.js
node_modules/nanoid/README.md
node_modules/nanoid/async/index.browser.cjs
node_modules/nanoid/async/index.browser.js
node_modules/nanoid/async/index.cjs
node_modules/nanoid/async/index.d.ts
node_modules/nanoid/async/index.js
node_modules/nanoid/async/index.native.js
node_modules/nanoid/bin/nanoid.cjs
node_modules/nanoid/non-secure/index.cjs
node_modules/nanoid/non-secure/index.d.ts
node_modules/nanoid/non-secure/index.js
node_modules/nanoid/url-alphabet/index.cjs
node_modules/nanoid/url-alphabet/index.js
node_modules/once/LICENSE
node_modules/once/once.js
node_modules/once/README.md
node_modules/path-is-absolute/index.js
node_modules/path-is-absolute/license
node_modules/path-is-absolute/readme.md
node_modules/picocolors/LICENSE
node_modules/picocolors/picocolors.browser.js
node_modules/picocolors/picocolors.d.ts
node_modules/picocolors/picocolors.js
node_modules/picocolors/README.md
node_modules/picocolors/types.ts
node_modules/postcss/LICENSE
node_modules/postcss/README.md
node_modules/postcss-selector-parser/API.md
node_modules/postcss-selector-parser/CHANGELOG.md
node_modules/postcss-selector-parser/LICENSE-MIT
node_modules/postcss-selector-parser/postcss-selector-parser.d.ts
node_modules/postcss-selector-parser/README.md
node_modules/purgecss/LICENSE
node_modules/purgecss/README.md
node_modules/purgecss/bin/purgecss.d.ts
node_modules/purgecss/bin/purgecss.js
node_modules/source-map-js/CHANGELOG.md
node_modules/source-map-js/LICENSE
node_modules/source-map-js/README.md
node_modules/source-map-js/source-map.d.ts
node_modules/source-map-js/source-map.js
node_modules/util-deprecate/browser.js
node_modules/util-deprecate/History.md
node_modules/util-deprecate/LICENSE
node_modules/util-deprecate/node.js
node_modules/util-deprecate/README.md
node_modules/wrappy/LICENSE
node_modules/wrappy/README.md
node_modules/wrappy/wrappy.js
prepros.config
.vscode/settings.json
