@import "../bootstrap/_functions";
@import "../bootstrap/_variables";

/* COLORS */
$blue:    #193E6C;
$orange:  #FFA06E;
$pink: #FFEEE5;
$light-green: #D3E8E1;
$green: #55BC7E;

$custom-colors: (
  "primary":    $orange,
  "blue":       $blue,
  "orange":     $orange,
  "pink":       $pink,
  "light-green":  $light-green,
  "green":      $green
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$font-family-sans-serif:      "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/* BORDER RADIUS */
$border-radius-pill:          44px;
$btn-border-radius:            20px;
$btn-border-radius-lg:            20px;

/* SPACERS */
$spacer: 2rem;

@import '../bootstrap/bootstrap';

/* EXTRA */
.list-group li { list-style-type: none; }
.card-img-top {
  width: 100%;
  height: 13vw;
  object-fit: cover;
}
.card { cursor:pointer; }
.card-link { text-decoration:none; }

.index-hero-img {
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
  min-height:500px;
}

.btn-primary { color:white !important; }

h1, h2 { font-weight:600; color:$blue; }

.card-custom {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.popover{
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

body {
	font-family: 'Varela Round', sans-serif;
}
.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}